.titleWrap {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  /* line-height: X;       
   max-height: X*N;  */
}

.cardImages {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
